@import "../../app.scss";

.founder{
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
        font-size: 40px;
    }

    .image{
        width: 100%;
        height: 350px;
        overflow: hidden;
        position: relative;
        border-radius: 15px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position:absolute
        }        
    }

    .details{
        font-weight: bold;
        font-size: 15px;
    }

}

@include breakpoint-small{

    .founder{
        width: 150px;
        flex-direction: column;
    
        .title{
            font-size: 40px;
        }
    
        .image{
            width: 100%;
            height: 280px;
    
            img{
                width: 100%;
                height: 100%;
            }        
        }    
    }
}
  
@include breakpoint-medium {

    .founder{
        width: 200px;
        flex-direction: column;
    
        .title{
            font-size: 40px;
        }
    
        .image{
            width: 100%;
            height: 300px;
    
            img{
                width: 100%;
                height: 100%;
            }        
        }    
    }

}
  
@include breakpoint-large {
}