@import "../../app.scss";

.box{
    background-image: linear-gradient(to bottom, rgb(194, 194, 194) 80%, transparent);

    .Founders{
        height: 75vh;
        padding: 5px;    
    
        .top{
    
            h1{
                text-transform: capitalize;
                text-align: center;
                font-weight: bold;
                font-family: "AdiBold";
                letter-spacing: 1px;
            }
      
        }
    
        .bottom{
            display: flex;
            justify-content: center;
            gap:30px;
            align-items: center;
            height: 60vh;   
        }
    }
}

@include breakpoint-small{

    .box{

        .Founders{
            height: 100vh;  
        
            .bottom{
                flex-direction: column;
                gap:10px;
                height: 85vh;   
            }
        }
    }

}
  
@include breakpoint-medium {

    .box{

        .Founders{
            height: 100vh;  
        
            .bottom{
                flex-direction: column;
                gap:10px;
                height: 85vh;   
            }
        }
    }

}
  
@include breakpoint-large {

}


