.navbar {
  height: 50px;
  padding: 5px 0px 11px 0px;
  background-color: #1f0738;
  // position: fixed; /* Set the navbar to fixed position */
  // top: 0; /* Position the navbar at the top of the page */
  // width: 100%; /* Full width */
  // z-index: 999;
  // transition: all 0.5s;

  .wrapper {
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item {
      display: flex;
      align-items: center;
      font-size: 15px;
      color: white;
      font-weight: bold;
      transition: 0.8s;
      &:hover {
        color: #05ede7;
        transform: scale(1.1);
      }
    }
    .left {
      display: flex;
      align-items: center;
      gap: 15px;

      .logo {
        width: 170px;
        transition: all 0.7s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .center {
      font-size: 30px;
      letter-spacing: 2px;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 15px;
        color: white;
        cursor: pointer;

        .carIcon {
          position: relative;
          transition: 0.8s;
          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            background-color: #05ede7;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &:hover {
            color: #05ede7;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar{
    .wrapper {
      padding: 10px 15px;
      justify-content: center;
      .item {
      }
      .right {
        gap: 15px;
      }
    }
  }
}
@media (max-width: 700px) {
  .navbar{
    .wrapper {
      padding: 10px 15px;
      justify-content: center;
      .item {
      
      }
      .right {
        gap: 15px;
      }
    }
  }
}